<nav class="nav-extended">
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Asociatie</a>
    </div>
    <div class="nav-content">
        <div class="halfway2-fab">
            <a class="btn-floating btn-large waves-effect waves-light teal modal-trigger" href="#adaugaConsum">
                <i class="material-icons">add</i>
            </a>
            <a class="btn-floating btn-large waves-effect waves-light teal modal-trigger" href="#setari">
                <i class="material-icons">settings</i>
            </a>
        </div>
    </div>
</nav>

<div class="container">
    <router-outlet></router-outlet>
</div>